<!DOCTYPE html>
<html>
<head>
  <title>IntegerAcademy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link href="img/favicon.png" rel="shortcut icon" type="image/x-icon" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,greek,greek-ext,cyrillic,cyrillic-ext,vietnamese' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="libs/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="libs/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
